:root {
  // body
  --text-color: #1e1e1e;
  --accent: #e58411;

  // text
  --header-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.8);

  // card
  --text-muted: #8d8d8d;
  --card-blue: #0d1b39;

  // bg
  --backgroung: #ffffff;
  --bg-special: #f7f7f7;
  --bg-footer: #2d2f33;

  // chack-box
  --ui-orang: #e58411;
  --ui-biruza: #00d6c9;
  --ui-gray: #7c7c7c;

  // fonts
  --font-Gilroy: 'Gilroy', sans-serif;
  --font-DMSans: 'DM Sans', sans-serif;
  --font-Inter: 'Inter', sans-serif;
}

// mixins
@mixin retina-bg($img) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: $img;
  }
}
