.benefits {
  padding: 110px 0 120px 0;
}

.benefits-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 40px;
}
.benefits-title {
  font-size: 42px;
  font-weight: 700;
  max-width: 260px;
}
