.benefit {
}
.benefit-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.benefit-text {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.85;

  opacity: 0.8;
}
.benefit-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.85;

  color: var(--accent);

  &::after {
    content: url(../../img/icons/arrow_right.svg);
    height: 24px;
  }
}
