.header {
  position: relative;
  background: var(--bg-footer);
  background-image: url(./../img/header/header_bg.jpg);
  color: var(--header-text-color);
  background-size: cover;
  aspect-ratio: 1440/1084;

  padding-top: 40px;

  @include retina-bg(url(./../img/header/header_bg_x2.jpg));
  @include tablet() {
    position: static;
  }
  a {
    color: var(--header-text-color);
  }
}

.header-content {
  text-align: center;

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    max-width: 606px;
    margin: 0 auto;
    opacity: 0.8;
  }
}
.header-title {
  margin-bottom: 14px;
  font-size: 80px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: -0.8px;
  line-height: 104px;
}

//DOTS

.header__dot-vasa {
  position: absolute;
  left: calc(102 * 100% / 1440);
  top: calc(733 * 100% / 1084);
}

.header__dot-sofa {
  position: absolute;
  left: calc(295 * 100% / 1440);
  top: calc(680 * 100% / 1084);
}

.header__dot-item {
  position: absolute;
  left: calc(799 * 100% / 1440);
  top: calc(765 * 100% / 1084);
}

.header__dot-wall {
  position: absolute;
  right: calc(47 * 100% / 1440);
  top: calc(815 * 100% / 1084);
}
