.logo {
  align-self: center;

  font-family: var(--font-Gilroy);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: var(--header-text-color) !important;
}
