.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
  margin-bottom: clamp(25px, 0.071rem + 5.89vw, 86px);
}

.nav__burger-menu {
  display: none;

  @include tablet() {
    display: block;
  }
}
