.nav-list {
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  font-size: 18px;
  font-weight: 500;
}
.nav-list_item {
}

.nav-list_link {
  &--dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: url(./../img/icons/arrow_dawn.svg);
      height: 18px;
    }
  }
}
