.read-more {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.85;

  color: var(--accent);

  transition: all .1s ease-in;

  &::after {
    content: url(../../img/icons/arrow_right.svg);
    height: 24px;
  }

  &--xl {
    font-size: 18px;
  }

  &:hover {
    gap: 20px;
  }
}
